<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="rockwell-local-packages" value="C:/Users/Public/Documents/Studio 5000/Logix Designer SDK/dotnet" />
  </packageSources>
</configuration>