<?xml version="1.0" encoding="utf-8"?>
<Tag Name="System" TagType="Base" DataType="System" Constant="false" ExternalAccess="Read/Write">
  <Data Format="L5K"><![CDATA[[0,4,16,1,[28,'SYSTEM IDLE. READY TO START.$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00'
		],[7,'schmir2$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00$00'
		],6,0]]]></Data>
  <Data Format="Decorated">
    <Structure DataType="System">
      <DataValueMember Name="Status" DataType="DINT" Radix="Decimal" Value="0" />
      <DataValueMember Name="Access_Level" DataType="DINT" Radix="Decimal" Value="4" />
      <DataValueMember Name="Auto" DataType="BOOL" Value="0" />
      <DataValueMember Name="Manual" DataType="BOOL" Value="0" />
      <DataValueMember Name="Alarm" DataType="BOOL" Value="0" />
      <DataValueMember Name="Running" DataType="BOOL" Value="0" />
      <DataValueMember Name="Stepping" DataType="BOOL" Value="1" />
      <DataValueMember Name="Stopping" DataType="BOOL" Value="0" />
      <DataValueMember Name="Pause_IP" DataType="BOOL" Value="0" />
      <DataValueMember Name="Paused" DataType="BOOL" Value="0" />
      <DataValueMember Name="Homed" DataType="BOOL" Value="1" />
      <StructureMember Name="Message" DataType="STRING">
        <DataValueMember Name="LEN" DataType="DINT" Radix="Decimal" Value="28" />
        <DataValueMember Name="DATA" DataType="STRING" Radix="ASCII"><![CDATA['SYSTEM IDLE. READY TO START.']]></DataValueMember>
      </StructureMember>
      <StructureMember Name="Username" DataType="STRING">
        <DataValueMember Name="LEN" DataType="DINT" Radix="Decimal" Value="7" />
        <DataValueMember Name="DATA" DataType="STRING" Radix="ASCII"><![CDATA['schmir2']]></DataValueMember>
      </StructureMember>
      <DataValueMember Name="S88_State" DataType="DINT" Radix="Decimal" Value="6" />
      <DataValueMember Name="Stopped" DataType="BOOL" Value="0" />
      <DataValueMember Name="Resetting" DataType="BOOL" Value="0" />
      <DataValueMember Name="Warn" DataType="BOOL" Value="0" />
    </Structure>
  </Data>
</Tag>